.editarPerfilProContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
}
.menuBackNav {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  margin: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #00000026;
  gap: 0.5rem;
  box-shadow: 3px 3px 10px #dddddd;
}
.editarProfesion {
  display: grid;
}
.editarData {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  gap: 5rem;
}
.editarInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.editarButton {
  display: flex;
  flex-direction: column;
}
.botonGuardar {
  width: 100%;
}
.contentEditar {
  display: flex;
}
.editarPortafolio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1rem 1rem;
  gap: 5rem;
  margin: 1rem 1rem;
}
.contentEditarPortafolio {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media (min-width: 480px) {
  .registerData {
    margin: 0rem 5rem;
  }
}
@media (min-width: 768px) {
  .editarData,
  .editarInputs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .editarButton {
    display: flex;
    justify-content: center;
  }
}