.editarPerfilProContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
  gap: 1rem;
}
.navMenu {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  margin: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #00000026;
  gap: 0.5rem;
  box-shadow: 3px 3px 10px #dddddd;
}
.editarProfesion {
  display: flex;
  flex-direction: column;
}
.contentEditar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem 1rem;
  margin-bottom: 1rem;
}
.editarData {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  box-shadow: 3px 3px 10px #dddddd;
  background-color: #f8f9fa;
  justify-content: space-between;
}
.editarInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.editarButton {
  display: flex;
  flex-direction: column;
}
.botonGuardar {
  width: 100%;
}
.editarPortafolio {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  box-shadow: 3px 3px 10px #dddddd;
  background-color: #f8f9fa;
}
.contentEditarPortafolio {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.inputTextArea {
  height: 7.5rem;
}
.agregarButtons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.agregarImagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.agregarGuardarBoton {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

@media (min-width: 768px) {
  .contentEditar {
    display: flex;
    flex-direction: row;
  }
  .editarData {
    align-items: center;
    transition: transform 0.1s ease;
  }
  .editarData:hover {
    transform: scale(1.01);
  }
  .editarPortafolio {
    transition: transform 0.1s ease;
  }
  .editarPortafolio:hover {
    transform: scale(1.01);
  }
  .agregarImagenes {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .contentEditar {
    margin: 0rem 15rem;
  }
}