.menuContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  user-select: none;
  min-height: 100vh;
}
.navMenu {
  box-shadow: 3px 3px 10px #dddddd;
}
.menuCliView {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.aboutSection {
  color: white;
  background-color: #abdfff;
  margin: 1rem;
  border-radius: 0.5rem;
}
.logoAbout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 1rem;
  user-select: none;
}
.logo {
  width: 17.5rem;
  filter: drop-shadow(3px 3px 3px #00000025);
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}
.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parrafo {
  font-style: italic;
}
.cartasSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem 1rem;
  background-color: white;
}
.filterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.titleSection {
  text-align: left;
}
.cartaContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.cartaProfesional {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #e1e4e8;
  box-shadow: 3px 3px 10px #dddddd;
  transition: transform 0.1s ease, background-color 0.3s ease;
}
.cartaProfesional:hover {
  transform: scale(1.01);
  background-color: #f0f0f0;
}
.cartaDatos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
@media (min-width: 320px) {
  .divFooter {
    display: none;
  }
}
@media (min-width: 768px) {
  .filterSection {
    flex-direction: row;
    justify-content: space-between;
  }
  .cartaContainer {
    flex-direction: row;
    justify-content: center;
  }
  .cartaProfesional {
    flex-direction: column;
    justify-content: center;
    width: 200px;
  }
  .imagen {
    width: 200px;
    height: 200px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
  .divFooter {
    display: block;
  }
}
@media (min-width: 992px) {
  .menuCliView {
    flex-direction: row;
  }
  .aboutSection {
    flex: 1;
    padding: 5rem 1rem;
    justify-content: space-between;
    color: white;
    background-color: #abdfff;
    margin: 1rem 0rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px #dddddd;
    align-self: flex-start;
    transition: transform 0.1s ease;
  }
  .aboutSection:hover {
    transform: scale(1.01);
  }
  .cartasSection {
    flex: 2;
    align-self: flex-start;
    padding: 1rem 1rem;
    margin: 1rem 1rem 1rem 0rem;
    border: 1px solid #e1e4e8;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px #dddddd;
  }
}
@media (min-width: 1200px) {
  .menuContainer {
    gap: 0rem;
  }
  .menuCliView {
    gap: 1rem;
    flex-direction: row;
  }
  .cartaProfesional {
    width: 350px;
  }
}
