.perfilProfesionalContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  user-select: none;
}
.navMenu {
  box-shadow: 3px 3px 10px #dddddd;
}
.vistaPerfilProfesional {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem 1rem;
}
.vistaPerfilProfesionalDatos {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  margin: 0rem 1rem;
}
.dataPerfilProfesional {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  box-shadow: 3px 3px 10px #dddddd;
  background-color: #f8f9fa;
}
.vistaContentPro {
  display: flex;
  flex-direction: column;
}
.headerPerfilProfesional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.headerNombre {
  text-align: left;
}
.descriptionPerfilProfesional {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profesionChips {
  flex: 1;
  display: flex;
  padding: 0rem;
  gap: 0.5rem;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.chip {
  display: flex;
  align-items: center;
}
.contactoPerfilProfesional {
  display: flex;
  flex-direction: column;
}
.botonesRedes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.botonRed {
  flex: 1;
}
.botonesEditarAgregar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.botonesPerfilProfesional {
  width: 100%;
}
.portafolioProfesional {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 10px #dddddd;
}
.portafolioProfesionalBloque {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
}
.vistaInfoResena {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0rem 1rem;
}
.dataInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infoBloque {
  flex: 1;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  padding: 1rem;
  text-align: left;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 10px #dddddd;
}
.dataResena {
  margin-bottom: 1rem;
}
.scrollableResenas {
  max-height: 25rem;
  overflow-x: hidden;
}
.resenas {
  display: flex;
  text-align: left;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 1rem;
}
.resenaBloque {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #e1e4e8;
  text-align: left;
  gap: 1rem;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 10px #dddddd;
}
.resenaBloqueData {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.resenaBloqueUser {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.resenaNombre {
  flex: 1;
  font-weight: bold;
}
.resenaNombre::first-letter {
  text-transform: uppercase;
}
.resenaBloqueComent {
  flex: 6;
}
.resenaComent {
  padding-top: 1rem;
}

@media (min-width: 320px) {
  .divFooter {
    display: none;
  }
}
@media (min-width: 768px) {
  .vistaPerfilProfesional {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    margin: 0rem 1rem;
  }
  .vistaPerfilProfesionalDatos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0rem 1rem;
  }
  .dataPerfilProfesional {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: transform 0.1s ease;
  }
  .dataPerfilProfesional:hover {
    transform: scale(1.01);
  }
  .headerPerfilProfesional {
    flex: 1;
  }
  .descriptionPerfilProfesional {
    flex: 1;
    justify-content: center;
  }
  .contactoPerfilProfesional,
  .botonesEditarAgregar {
    flex: 1;
    justify-content: center;
  }
  .portafolioProfesional {
    flex: 2;
    display: flex;
    justify-content: center;
    transition: transform 0.1s ease;
  }
  .portafolioProfesional:hover {
    transform: scale(1.01);
  }
  .dataInfo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .infoBloque {
    transition: transform 0.1s ease;
  }
  .infoBloque:hover {
    transform: scale(1.01);
  }
  .vistaPerfilProfesionalDatos {
    flex: 2;
    border: 1px;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .resenaBloque {
    margin: 0rem 0.5rem;
    flex-direction: row;
    transition: transform 0.1s ease;
  }
  .resenaBloque:hover {
    transform: scale(1.01);
  }
  .resenaBloqueData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .dataResena {
    margin-bottom: 0rem;
  }
  .scrollableResenas {
    max-height: 45rem;
    overflow-x: hidden
  }
  .resenas {
    padding: 0.5rem;
  }
  .resenaBloqueComent {
    border-left: 1px solid #e1e4e8;
  }
  .resenaComent {
    flex: 1;
    padding-top: 0rem;
    padding-left: 1rem;
    border-top: 0px;
  }
  .divFooter {
    display: block;
  }
}
@media (min-width: 1200px) {
  .vistaPerfilProfesional,
  .vistaPerfilProfesionalDatos {
    margin: 0rem 15rem;
  }
  .vistaInfoResena {
    margin: 0rem 15rem;
  }
}
