.registerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(/src/Images/background.png);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  user-select: none;
}
.navMenu {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #00000026;
  gap: 0.5rem;
  box-shadow: 3px 3px 10px #dddddd;
}
.registerData {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}
.registerForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.registerInputs {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.registerName,
.registerEmailPass {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.registerNum {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem;
}
.numberPhone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #00000026;
  border-radius: 0.5rem;
}
.number {
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem;
}
.inputPhone {
  flex: 1;
}
.registerSelectContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.registerTypeProfile {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.checkBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.registerProfession {
  flex: 1;
  display: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.registerButton {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.registerContrasena {
  display: flex;
  flex-direction: row;
}
.contrasena {
  flex: 1;
}
.botonOcultar {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #00000026;
  color: white;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  padding: 0rem 1rem;
}
.errorContainer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: 1rem;
}
.errorMessage {
  color: #d32828;
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .registerData,
  .registerSelectContainer {
    display: flex;
    align-items: center;
  }
  .registerButton {
    display: flex;
    justify-content: center;
  }
}
