.vistaAdminContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  user-select: none;
}
.navMenu {
  box-shadow: 3px 3px 10px #dddddd;
}
.vistaAdminData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 1rem;
  gap: 1rem;
}
.vistaAdminContent1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}
.listaUsuarios {
  flex: 1;
}
.adminBuscarMensajes {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  background-color: #f8f9fa;
  padding: 1rem;
  gap: 1rem;
}
.buscarMensajes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.vistaAdminProfesion {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  background-color: #f8f9fa;
  padding: 1rem;
  gap: 1rem;
}
.vistaAdminContent2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}
.correoAdmin {
  flex: 1;
}
.graficoAdmin {
  flex: 2;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e4e8;
  background-color: #f8f9fa;
}